{% extends 'base.html.twig' %}

{% block title  %} créer un etudiant{% endblock %}

{% block body %}
    <div class="container">

    <div class="jumbotron mt-3">
        <p class="lead">This is a MVC Project   </p>
    </div>
    </div>
{% endblock %}